<%= link_to "Upload new foto", new_photo_path , class: "btn btn-default"%>
<%= link_to "Upload multiple image", new_image_path , class: "btn btn-default"%>
<br>

<% if @photos == [] %>
	There is no photos yet.
<% else %>
	<% @photos.each do |photo| %>
	<div class="col-md-3">
	<%= image_tag photo.photo_url, width: 200, height: 200 %>
	<p><b>Name^   </b><%= photo.name %></p>
	<p><b>Category^   </b><%= photo.category.name %></p>
	<p><b>User^   </b><%= photo.user.nickname %></p>

	<p><% if current_user != nil and current_user.id == photo.user_id %>
		<%= link_to "Edit", edit_photo_path(photo.id) %>
		<%= link_to "Delete", photo_path(photo.id), data: {confim: 'Are you sure?'}, method: :delete %>
		
	<% end %>
	</p>
	<p><%= link_to "Like", vote_photo_path(photo.id) %>
	(<%= @like[photo.id] %>)</p>
 	</div>
	<% end %>
<% end %> 		